:root{
    --menu-width: 200px;
    --menu-transition-duration: 100ms;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    image-rendering: -moz-crisp-edges;
}

body{

}

.menu_holder{
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--menu-width);
    height: calc(var(--menu-width) / 2);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    z-index: 10;
}
.menu{
    width: 90%;
    height: 90%;
    transition: 100ms cubic-bezier(0.5, 2, 0.65, 1);
    background: url("src/menu_btn.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
} .menu_active{
    background: url("src/menu_exit.png") no-repeat center;
    background-size: contain;
} .menu:hover{
    width: 100%;
    height: 100%;
}

.menu_dropdown{
    margin: 10px;
    padding: 5px 15px 5px 5px;
    position: fixed;
    opacity: 0;
    top: -800px;
    left: 0;
    width: calc(var(--menu-width));
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    z-index: 1;
    transform: rotate3d(1,1,0, 180deg);
    
    transition: var(--menu-transition-duration) cubic-bezier(0.5, 2, 0.65, 1);
}.menu_dropdown_active{
    top: 100px;
    opacity: 1;
    transform: rotate3d(1,1,0, 20deg);
}.menu_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    background-image: linear-gradient(30deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 10%, transparent 20%, transparent 80%, rgb(255, 0, 0) 90%, rgb(255, 0, 0) 100%);
    background-color: #000;
    color: #FFF;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    width: 90%;
    height: 30px;
    transition: background-color var(--menu-transition-duration) ease, font-size var(--menu-transition-duration) cubic-bezier(0.29, 2, 0.69, 1);
    border: solid 4px #FFF;
}.menu_item:hover{
    font-size: 30px;
}.menu_item p{ margin: 0; }

.content{
    display:flex;
    width: 100%;
    height: 2000px;
    background-color: #720f0f;
    mix-blend-mode: lighten;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    transition: var(--menu-transition-duration) ease;
}



.filter-unfocus{
    filter: brightness(0.75) saturate(0.75);
}